{% extends 'police/police_station_index.html' %}

{% block content %}

<div class="container">
    <center>
        <h1 class="btn btn-lg btn-primary">Your Profile</h1>
        <hr>
        <form action="{% url 'commissioner' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="Save Profile" class="btn btn-success">
        </form>
    </center>
</div>

{% endblock %}