<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Crime Category</title>
</head>

<body>
    <center>
        <form action="{% url 'crime_category' %}" method="POST">
            {% csrf_token %}
            <h1>Add Crime Category</h1>
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" name="submit" value="ADD">
        </form>
    </center>
</body>

</html>