{% extends 'police/police_station_index.html' %}

{% block content %}

    <div class="container">
        <center>
            <form action="" method="POST" id="searchform" taluka-url="{% url 'load_taluka' %}" village-url="{% url 'load_village' %}">
                {% csrf_token %}
                <label class="btn btn-lg btn-primary">Manage Police Station</label>
                <hr>
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="search" class="btn btn-success">
            </form>
            <hr>
            {% if police_station %}
                <h1 class="btn btn-lg btn-info">Police station Details</h1>
                <hr>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Police Station</th>
                            <th>Address</th>
                            <th>Phone No</th>
                            <th>Mobile No</th>
                            <th>E-Mail Address</th>
                            <th colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for police_station in police_station %}
                        <tr>
                            <td>{{police_station.Police_station_name}}</td>
                            <td>{{police_station.address}}</td>
                            <td>{{police_station.phone_no}}</td>
                            <td>{{police_station.mobile_no}}</td>
                            <td>{{police_station.email_address}}</td>
                            <td>
                                <form action="{% url 'update_police_station' police_station.id %}">
                                    <input type="submit" value="UPDATE" class="btn btn-success">
                                </form>
                            </td>
                            <td>
                                <form action="{% url 'delete_police_station' police_station.id %}">
                                    <input type="submit" value="DELETE" class="btn btn-success">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <form action="{% url 'police_station' %}">
                    <input type="submit" value="Add Police Station" class="btn btn-success">
                </form>
            {% endif %}
        </center>
    </div>

{% include 'services/ajax.html' %}
    
{% endblock %}