{% extends 'base.html' %}

{% block content %}

<div class="container">
    <center>
        <form action="{% url 'citinew_password' %}" method='POST'>
            {% csrf_token %}
            <table>
                <h1 class="btn btn-lg btn-primary">Create New Password</h1>
                <hr>
                <tr>
                    <td><label for="password">Password : </label></td>
                    <td><input type="password" id='password' name='password'></td>
                </tr>
                <tr>
                    <td><label for="c_password">Confirm Password : </label></td>
                    <td><input type="password" id='c_password' name='c_password'></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Save Password" class="btn btn-success"></td>
                </tr>
            </table>
            <input type="hidden" name="user" value="{{user}}">
            <input type="hidden" name="email" value="{{email}}">
        </form>
    </center>
</div>
{% endblock %}