
Skip to content

Why GitHub?
                      


                
Team
Enterprise
Explore
                  

                
Marketplace
Pricing
                   


                    

Sign in
Sign up
PoojaPal11 /
E-Police_Station

0

0

Code
Issues
Pull requests
Actions
Projects
Wiki
Security

Insights

E-Police_Station/templates/citizen/otp_password.html
@PoojaPal11
PoojaPal11 My Project
Latest commit e93603f 4 days ago
History
1 contributor
25 lines (22 sloc) 809 Bytes
{% extends 'base.html' %}

{% block content %}

<div class="container">
<center>
    <form action="{% url 'otp_password' %}" method='POST'>
        {% csrf_token %}
        <table>
            <tr>
                <td><label for="eotp">Enter Your OTP</label></td>
                <td><input type="text" id='eotp' name='eotp'></td>
                <td><input type="hidden" name="otp" value={{otp}}></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="submit" class="btn btn-success" ></td>
            </tr>
        </table>
        <input type="hidden" name="user" value="{{user}}">
        <input type="hidden" name="email" value="{{user.email}}">
    </form>
</center>
</div>

{% endblock %}
