{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <center>
            <form action="{% url 'Rules_RegulationsCreateView' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="btn btn-lg btn-primary">ADD Rules ans Regulations</h1>
                <hr>
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="SAVE" class="btn btn-success">
            </form>
        </center>
    </div>

{% endblock %}