{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <center>
            <h1>Forgot Password</h1>
            <hr>
            <form action="{% url 'inspector_forgot' %}"  method="POST">
                {% csrf_token %}
                <Table>
                    <tr>
                        <td><label for="user">username : </label></td>
                        <td><input type="text" name="user" id="user"></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email : </label></td>
                        <td><input type="email" name="email" id="email"></td>
                    </tr>
                </Table><br>
                <button type="submit" class="btn btn-success">Submit</button><br><br>
            </form>
        </center>
    </div>

{% endblock %}