{% extends 'police/police_station_index.html' %}

{% block content %} 

    <div class="container">
        <center>
            <h1 class="btn  btn-lg btn-primary">Login Details</h1>
            <hr>
            <form action="{% url 'login_details' %}" method="POST">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        </center>
    </div>

{% endblock %}